<<<<<<<<<<<<<<<<<  42: The Mostly Harmless Simulator  >>>>>>>>>>>>>>>>>
************************** Simulation Control **************************
FAST                            !  Time Mode (FAST, REAL, EXTERNAL, or NOS3)
2419200.0   0.01                !  Sim Duration, Step Size [sec]
0.0                             !  File Output Interval [sec]
0                               !  RNG Seed
{{ 'TRUE' if graphics else 'FALSE' }}                            !  Graphics Front End?
Inp_Cmd.txt                     !  Command Script File Name
**************************  Reference Orbits  **************************
1                               !  Number of Reference Orbits
TRUE   Orb_SHIRE.txt            !  Input file name for Orb 0
*****************************  Spacecraft  *****************************
1                               !  Number of Spacecraft
TRUE  0 SC_SHIRE.txt            !  Existence, RefOrb, Input file for SC 0
***************************** Environment  *****************************
{{ ic.epoch.month }}  {{ ic.epoch.day }} {{ ic.epoch.year }}                      !  Date (UTC) (Month, Day, Year)
{{ '%02d'|format(ic.epoch.hour) }} {{ '%02d'|format(ic.epoch.minute) }} {{ '%05.2f'|format(ic.epoch.second) }}                     !  Time (UTC) (Hr,Min,Sec)
{{ ic.epoch.leap_seconds }}                            !  Leap Seconds (sec)
USER                            !  F10.7, Ap (USER, NOMINAL or TWOSIGMA)
230.0                           !  USER-provided F10.7
100.0                           !  USER-provided Ap 
IGRF                            !  Magfield (NONE,DIPOLE,IGRF)
8   8                           !  IGRF Degree and Order (<=10)
8   8                           !  Earth Gravity Model N and M (<=18)
2   0                           !  Mars Gravity Model N and M (<=18)
2   0                           !  Luna Gravity Model N and M (<=18)
FALSE   FALSE                   !  Aerodynamic Forces & Torques (Shadows)
FALSE                           !  Gravity Gradient Torques
FALSE   FALSE                   !  Solar Pressure Forces & Torques (Shadows)
FALSE                           !  Residual Magnetic Moment Torques
FALSE                           !  Gravity Perturbation Forces
FALSE                           !  Thruster Plume Forces & Torques
FALSE                           !  Contact Forces and Torques
FALSE                           !  CFD Slosh Forces and Torques
FALSE                           !  Albedo Effect on CSS Measurements
FALSE                           !  Output Environmental Torques to Files
********************* Celestial Bodies of Interest *********************
MEAN                            !  Ephem Option (MEAN, DE430, DE440)
FALSE                           !  Mercury
FALSE                           !  Venus
TRUE                            !  Earth and Luna
FALSE                           !  Mars and its moons
FALSE                           !  Jupiter and its moons
FALSE                           !  Saturn and its moons
FALSE                           !  Uranus and its moons
FALSE                           !  Neptune and its moons
FALSE                           !  Pluto and its moons
FALSE                           !  Asteroids and Comets
***************** Lagrange Point Systems of Interest ******************
TRUE                            !  Earth-Moon
FALSE                           !  Sun-Earth
FALSE                           !  Sun-Jupiter
************************* Ground Stations ***************************
{{ ground_stations|length }}                               ! Number of Ground Stations
{% for gs in ground_stations -%}
TRUE  {{ gs.world }}  {{ gs.lon_deg }} {{ gs.lat_deg }} "{{ gs.name }}" ! Exists, World, Lng, Lat, Label
{% endfor -%}
