[submodule "cfs/cfe"]
	path = cfs/cfe
	url = https://github.com/VoyagerTechnologies-Public/external-cFE.git
	branch = dev
[submodule "cfs/osal"]
	path = cfs/osal
	url = https://github.com/VoyagerTechnologies-Public/external-osal.git
	branch = dev
[submodule "cfs/psp"]
	path = cfs/psp
	url = https://github.com/VoyagerTechnologies-Public/external-PSP.git
	branch = dev
[submodule "cfs/tools/elf2cfetbl"]
	path = cfs/tools/elf2cfetbl
	url = https://github.com/VoyagerTechnologies-Public/external-elf2cfetbl.git
	branch = dev
[submodule "cfs/apps/cf"]
	path = cfs/apps/cf
	url = https://github.com/VoyagerTechnologies-Public/external-CF.git
	branch = dev
[submodule "cfs/apps/ci_lab"]
	path = cfs/apps/ci_lab
	url = https://github.com/VoyagerTechnologies-Public/external-ci_lab.git
	branch = dev
